.appcontainer {
    display: flex;
}

#controlspanel {
    background-color: #AAA;
    border-right: 4px double black;
    height: 90vh;
    width: 15vw;
    padding: 5px;
}

.ui {
    width: 100%;
    margin-bottom: 5px;
    cursor: pointer;
    display: inline-block;
    background: #555;
    color: white;
    font-size: 18px;
    border: 0;
    padding: 0.2rem;
}

button:hover {
    transform: scale(0.98);
}

button:active {
    transform: scale(1);
}

#uitext {
    padding: 0px;
    margin: 0px;
}

#viewport {
    width: 100%;
    height: 90vh;
    border: 0px;
}

#uielement {
    overflow: hidden;
    font-size: small;
}
