body {
    display: flex;
}
.controls {
    background-color: gray;
    border-right: 4px double black;
    height: 90vh;
}

#uilinks {
    background-color: darkslategray;
    padding: 5px;
}

#viewport {
    width: 100%;
    height: 90vh;
    border: 0px;
}